/*AREA LOGIN*/
 #CorpoLogin {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  left: 0; top: 0;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 1000;
}

#LoginCard{
  background-color: #eee2d7;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  position: relative;
  width: 300px;
}

#Login{
  border: solid, 1px;
  border-left: none;
  border-radius: 20px;
  border-right: none;
  border-top: none;
  height: 52%;
  text-align: center;
  width: 100%;
}

.closeBtn {
  cursor: pointer;
  font-weight: bold;
  margin-left: 90%;
  margin-top: -13px;
}

.Input {
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

input::placeholder {
	font-size: 18.0px;
}

#Opcao{
	width: 98%;
	height: 8%;
	margin: 0 auto;
	border-radius: 50px;
	border: solid, #d8d8d8;
}

.hidden {
    display: none;
}

.show {
    display: block; /* or flex, grid, etc. */
}

.Correio {
  box-sizing: border-box;
  background: #B14A2F;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  padding: 8px 16px;
  width: 100%;
}

#CorpoLoginCad {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  left: 0; top: 0;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 1000;
}

#Bem{
	width: 100%;
	text-align: center;
}

#Google{
	width: 75%;
	height: 10%;
	border: solid, 1px;
	border-radius: 18px;
	margin-top: 4px;
	background: none;
	font-size: 20px;
}

#Termo {
  position: relative;
  text-align: justify;
}
/*FIM AREA LOGIN*/