/*AREA FONTES*/
@font-face{
  font-family: Comum ;
  src: url('/fontes/CreatoDisplay-Regular.otf') format(truetype),url('CreatoDisplay-Regular.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Titulo ;
  src: url('/fontes/arial_black.ttf') format(truetype),url('arial_black.ttf') format(opentype);
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: Comum;
}

h1{
  font-family: Titulo;
}
/*FIM AREA FONTES*/

table, td{
 border: 1px solid black; 
}

/*AREA HEADER*/
#IniciaMenu{
  float: right;
  background: none;
  border: none;
}
#Cabecario{
  width: 100%;
  height: 6%;
  min-height: 113px;
  padding-top: 2vh;
  left: 100px;
}
 
#Banner{
 height: 18%;
 width: 100%;
 min-height: 340px;
 margin-top: 2vh;
 background-image: url('../imagens/Banner.png');
 float: right;
 background-repeat: no-repeat;
 background-size: 100%;
}

#menuBtn {
  background: #c4550c;
  color: white;
  border: none;
  position: relative; /*adicionado para o menu ficar a esquerda*/
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;  
}
#popupMenu {
  display: none;
  color: white;
  background-color: rgba(238,143,90, 0.93);
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  border-radius: 10px;
  position: absolute;  /* posiciona a esquerda em relação ao pai, coloquei um left 100 em algum lugar, só n lembro kkkk*/
  right: 95px;
  z-index: 999; /*a frente*/
}
#popupMenu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
#popupMenu a:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  color: black;
}
 
/*AREA LOGIN*/
 #CorpoLogin {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  left: 0; top: 0;
  padding-top: 10%;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 1000;
}

#corpoRedSenha {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  left: 0; top: 0;
  padding-top: 10%;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 1000;
}

#LoginCard{
  background-color: #eee2d7;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  position: relative;
  width: 300px;
}

#Login{
  border: solid, 1px;
  border-left: none;
  border-radius: 20px;
  border-right: none;
  border-top: none;
  height: 52%;
  text-align: center;
  width: 100%;
}

.closeBtn {
  cursor: pointer;
  font-weight: bold;
  margin-left: 90%;
  margin-top: -13px;
}

.Input {
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

input::placeholder {
	font-size: 18.0px;
}

#Opcao{
	width: 98%;
	height: 8%;
	margin: 0 auto;
	border-radius: 50px;
	border: solid, #d8d8d8;
}

.hidden {
    display: none;
}

.show {
    display: block; /* or flex, grid, etc. */
}

.Correio {
  background: #B14A2F;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 16px;
  width: 100%;
}

#CorpoLoginCad {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  left: 0; top: 0;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 1000;
}

#Bem{
	width: 100%;
	text-align: center;
}

#Google{
	width: 75%;
	height: 10%;
	border: solid, 1px;
	border-radius: 18px;
	margin-top: 4px;
	background: none;
	font-size: 20px;
}

#Termo {
  position: relative;
  text-align: justify;
}
/*FIM AREA LOGIN*/

/*AREA ADMIN*/
#Corpo {
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 15px; 
  /*display: flex; alinhamento para topo em pé
  flex-direction: row;*/
}
body{
background:#eee2d7;
}
#CorpoTodo{
background-color: #eee2d7;
}
  
h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Botões principais */

#Topo, #opcao {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}
  
#Topo button, #opcao button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #B14A2F;
  color: #f5f5f5;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
  
#Topo button:hover, #opcao button:hover {
  background: #b45c45;
}
/*
#Topo{
  /*background-color: red;
  display: flex;
  flex-direction: column;  /* Topo em pé
  max-width:20%;
}*/
#Topo button{
  min-width: 125px;
}
#Conteudo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 50px;
  margin-left: 280px;
}

#formulario form {
  background: #f3bf8d;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 15px 18px rgba(0, 0, 0, 0.1)
}

#formulario input[type="text"], 
#formulario textarea,
#formulario input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  background: #fcd6b2;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1)
}

.estilos {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.estilo {
  width: 60px;
  height: 40px;
  border: 2px solid #aaa;
  border-radius: 8px;
  background: #f5f5f5;
}

.publicar {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #B14A2F;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1)
}

.publicar:hover {
  background: #B14A2F;
}

@media (max-width: 900px) {
  #Conteudo {
      grid-template-columns: 1fr;
  }
}
.botao{
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #B14A2F;
  color: #f5f5f5;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
}
table {
    width: 90%; /*mexi aqui*/
    border-collapse: collapse; 
    margin: 20px auto; 
    font-family: Arial, sans-serif;
  	border-radius 20px;
 }

  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color:  #B14A2F;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }

  tr:hover {
    background-color: #ddd; 
  }
/*FIM AREA ADMIN*/

#codediv{
  display: none;
}

.body-next{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.cards-posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2.5rem;
}

.card.posts {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;       /* Quebra linha quando não cabe */
  gap: 20px;             /* Espaçamento entre os cards */
  justify-content: center;
  margin-top: 20px;
}

/* Cada card individual */
.card.posts a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: gray; /* fundo cinza claro */
  padding: 10px;
  border-radius: 12px;
  width: 150px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cards.posts a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* Imagem do card */
.cards.posts a img {
  max-width: 100%;
  height: 100px;
  object-fit: cover;  /* Mantém proporção e corta excesso */
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Título do post */
.cards.posts a h2 {
  font-size: 14px;
  text-align: center;
  color: #333;
  word-break: break-word; /* Quebra palavras muito longas */
  margin: 0;
}
 