#IniciaMenu{
    float: right;
    background: none;
    border: none;
}
#Cabecario{
    width: 100%;
    height: 6%;
    min-height: 113px;
    padding-top: 2vh;
}

#Banner{
 height: 18%;
 width: 100%;
 min-height: 340px;
 margin-top: 2vh;
 background-image: url('../imagens/Banner.png');
 float: right;
 background-repeat: no-repeat;
 background-size: 100%;
}