#Noticias{
	width: 100%;

}
#NoticiaCorpo{
	max-width: 1200px;
  	margin: 0 auto;
  	padding: 0 15px; /* ajusta a borda de acord com a tela*/
}
#Imagem1{
	float: right;
	width: 30%;
	height: 250px;
	background-color: dimgrey;
	
}

#Text1{
	width: 70%;
	text-align: justify-all;
	font-size: 150%;
}

#Imagem2{
	float: right;
	width: 100%;
	height: 300px;
	background-color: dimgrey;
	
}

#Text2{
	width: 100%;
	text-align: justify-all;
	font-size: 150%;
}